.month {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul,
ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 4px;
  margin: 0 auto;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: 16px;
}

ul.weekdays li {
  margin: 0 auto;
  width: 44px;
  height: 50px;
  font-size: 1.6rem;
}

ol.day-grid li {
  margin: 0 auto;
  width: 44px;
  height: 44px;
  max-height: 125px;
  font-size: 1.6rem;
}

ul.weekdays abbr[title] {
  /* border: none; */
  /* font-weight: 600; */
  text-decoration: none;
}

ol.day-grid li:nth-child(1),
ol.day-grid li:nth-child(2),
ol.day-grid li:nth-child(3),
ol.day-grid li:nth-child(4),
ol.day-grid li:nth-child(5),
ol.day-grid li:nth-child(6) {
  color: transparent;
}

#heart {
  border-radius: 32% 68% 57% 43% / 44% 41% 59% 56%;
  background-color: rgba(255, 127, 127, 0.2);
}

.red {
  color: #d55079;
}

.blue {
  color: #0a737a;
}

.dday_cal {
  margin-top: 20px;
}

.weekdays_container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
