footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #e4e4e4;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-size: 1.1rem;
}

.footer_row {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.text_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text_row:active {
  color: gray;
  text-shadow: 0 0 10px lightgray;

}

nav > div:first-child {
  margin-top: 10px;
}

.footer_row p {
  font-size: 13px;
  margin: 10px 0px;
}

.footer_row_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
}

.footer_row_wrapper > div{
  padding: 0px 10px;
}

.kakao_link_icon {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 0px 3px gray)
}

.fa-link {
  color: #FFEB00;
  text-shadow: 0 0 3px grey;
}

.link_icon {
  padding: 3px 8px 0px 3px;
}

/* .copy_row:hover {
  background: white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
} */