footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;  
  width: 100%;
  padding: 10px;
  /* color: white; */
  background-color: lightgrey;
  font-family: 'S-CoreDream-3Light';
  font-size: 1.1em;
}

.kakao_link_icon {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 3px grey
}

.footer_row {
  padding: 5px;
}

.fa-link {
  color: #FFEB00;
  text-shadow: 0 0 3px grey
}