.grid_container {
  display: grid;
  align-content: start;
  place-items: center;
  grid-template-columns: auto auto auto;
  width: 92%;
  height: 400px;
  cursor: pointer;
  margin: auto;
  column-gap: 3px;
  row-gap: 3px;
}

.grid_item {
  max-width: 100%;
  text-align: center;
  border-radius: 4px;
}