.grid_container {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  max-width: 92%;
  cursor: pointer;
  margin: auto;
}

.grid_item {
  max-width: 100%;
  text-align: center;
  /* padding: 4px; */
}