#map {
  margin: 1.5px 0px;
  position: relative;
}

#traffic {
  position: absolute;
  top: 0px; 
  left: 0px;
  background-color: white;
  border: solid 1px #444;
  width: 85px;
  height: 28px;
  font-family: S-CoreDream-3Light;
  font-size: 13px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#center_icon {
  position: absolute;
  top: 150px; 
  left: 0px;
  background-color: white;
  border: solid 1px #444;
  width: 28px;
  height: 28px;
  font-family: S-CoreDream-3Light;
  font-size: 13px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.iw_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  line-height: 200%;
}

.info_head {
  font-family: 'S-CoreDream-7ExtraBold';
  font-size: 18px;
  color: transparent;
  background: #222;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  overflow: visible;
  margin-top: 8px;
}

.iw_inner .iw_inner_row {
  font-family: 'S-CoreDream-3Light';
  padding: 5px 0px;
  font-size: 14px;
}

.info_btn {
  font-family: S-CoreDream-3Light;
  text-decoration: none;
  font-size: 14px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	padding:4px 20px;
  margin: 0px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  overscroll-behavior: none;
}

.info_btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.info_btn:active {
	position:relative;
	top:1px;
}

#focus-in-expand {
  /* color: #6f7d7c; */
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}