.frontImg {
  width: 35rem;
  overflow:hidden;
  margin: 20px 0px;
  -webkit-box-shadow: inset 4px 4px 15px 0px #222, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: inset 4px 4px 15px 0px #222, 5px 5px 15px 5px rgba(0,0,0,0.);
  border-radius: 4px;
}

#main_video {
  width: 35rem;
  height: 20rem;
  border-radius: 4px;
  box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.3);
  margin-bottom: 40px;
}

.grid_container {
  display: grid;
  align-content: start;
  place-items: center;
  grid-template-columns: auto auto auto;
  width: 35rem;
  height: 40rem;
  cursor: pointer;
  column-gap: 4px;
  row-gap: 4px;
}

.grid_item {
  max-width: 100%;
  text-align: center;
  border-radius: 2px;
  box-shadow: 3px 2px 5px -3px rgba(0,0,0,0.3);
}

.padlet-embed {
  width: 35rem;
  height: 50rem;
  box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.3);
  border-radius: 4px;
}

@media (min-width: 380px) {
  html, body {
    font-size: 11px;
  }
} 


@media (min-width: 576px) {
  html, body {
    font-size: 12px;
  }
} 
 
@media (min-width: 768px) {
  html, body {
    font-size: 13px;
  }
  .frontImg {
    width: 60rem;
  }
  #main_video {
    width: 60rem;
    height: 35rem;
  }
  #map {
    width: 60rem;
    height: 40rem;
  }
  .grid_container {
    width: 60rem;
    height: 60rem;
  }
} 
 