#main_video {
  width: 35rem;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.3);
  margin-bottom: 40px;
}

.grid_container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: 35rem;
  cursor: pointer;
  grid-gap: 0px 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.grid_item {
  max-width: 100%;
  box-shadow: 3px 2px 5px -3px rgba(0,0,0,0.3);
}

.padlet-embed {
  width: 35rem;
  height: 50rem;
  box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.3);
  border-radius: 4px;
}

@media (min-width: 380px) {
  html, body {
    font-size: 11px;
  }
} 


@media (min-width: 576px) {
  html, body {
    font-size: 12px;
  }
} 
 
@media (min-width: 768px) {
  html, body {
    font-size: 13px;
  }
  #first_page {
    width: 35rem;
    height: var(--app-height);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 45%
    ), 
    url("/img/main.jpg")
    no-repeat
    bottom;
    background-size: 100%;}
  #map {
    height: 40rem;
  }
} 
 