.modal {
  display: none;
  position: fixed;
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin-top: 10rem;
  overflow: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.modal_copy {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 36rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content_copy {
  display: none; /* Hidden by default */

  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 4px;
}

#account_number {
  font-family: 'S-CoreDream-3Light';
  font-size: 1.9rem;
}

/* The Close Button */
.close_copy {
  position: absolute;
  top: 0;
  right: 16px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#one {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.23); 
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.23);
  overflow: hidden;
  color: #333;
}

#two {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.23); 
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.23);
  overflow: hidden;
  color: #333;
}

.center {
  width: 85%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.tria {
  position: absolute;
  width: 8.1rem;
  height: 5.1rem;
  top: -1.5rem;
  right: -3rem;
  background: #84A1AB;
  transform: rotate(45deg);
}

.tria2 {
  position: absolute;
  width: 8.1rem;
  height: 5.1rem;
  top: -1.5rem;
  right: -3rem;
  background: #c27b90;
  transform: rotate(45deg);
}

.tria p, .tria2 p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  transform: rotate(-45deg);
  margin: 2rem;
}

.center .header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 2;
  font-family: 'S-CoreDream-3Light';  
}

.center .desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 5px;
}

.visible {
  -webkit-animation: card-in 0.1s ease-in-out both 0.1s;
  -moz-animation: card-in 0.1s ease-in-out both 0.1s;
  -ms-animation: card-in 0.1s ease-in-out both 0.1s;
  -o-animation: card-in 0.1s ease-in-out both 0.1s;
  animation: card-in 0.1s ease-in-out both 0.1s;
}

.hidden {
  display: none;
  -webkit-animation: card-out 0.1s ease-in-out both;
  -moz-animation: card-out 0.1s ease-in-out both;
  -ms-animation: card-out 0.1s ease-in-out both;
  -o-animation: card-out 0.1s ease-in-out both;
  animation: card-out 0.1s ease-in-out both;
}

@keyframes card-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes card-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.25);
  }
}

table.type04 {
  font-size: 1.6rem;
  table-layout:fixed;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  border-top: 0.5px solid #ccc;
  margin : 0px 10px 10px 10px;
}

table.type04 th {
  width: 150px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 0.5px solid #ccc;
  font-family: 'S-CoreDream-3Light';
}

table.type04 td {
  width: 350px;
  vertical-align: middle;
  border-bottom: 0.5px solid #ccc;
  font-family: 'S-CoreDream-3Light';
}

.td_number {
  padding: 0px 5px;
}

.btn_copy {
  border: none;
  border-radius: 7px;
  color: #ccc;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  margin: 10px 10px 20px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn_copy:active {
  background-color: lightgray;
}

.header {
  margin: 10px 0px;
}

.gclose {
  color: black;
}