.scroll {
  cursor: pointer;
  width: 40px;
  height: 40px;

  position: fixed;
  bottom: 17px;
  right: -120px;
  border-radius: 100%;

  background-color: #fff;
  font-size: 20px;
  box-shadow: 0 0 5px 0px #888;
  transition: 300ms;

  display: flex;
  justify-content: center;
  align-items: center;

  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.scroll:hover i {
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {margin-top: -3px}
  to {margin-top: 5px}
}

.visible {
  right: 17px;
  transition: all 400ms;
  transform: rotate(360deg)
}

/* 텍스트 하이라이트 https://codepen.io/ioiocodepen/pen/bPwzKo */

mark {
  --color1: rgb(238,157,168, 0.3);
  --color2: rgb(254,218,223, 0.3);
  --height: 100%;    
  all: unset;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--color1), var(--color2)); 
  background: linear-gradient(to right, var(--color1), var(--color2)); 
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 var(--height);
  animation: highlight 900ms 1 ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused; 
  border-radius: 2px;

}
@keyframes highlight {
  to {
    background-size: 100% var(--height);
  }
}
main {
  width: min(50ch, 80%);
  margin: 0 auto;
  padding: 100px 0;
}