@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Hahmlet&family=Noto+Serif+KR:wght@200&display=swap');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --app-height: 100%;
 }

* {
    text-align: center;
    margin: 0px;
    font-family: 'Noto Serif KR', serif;
    color: #282929;
    line-height: 180%;
    overflow-x: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html, body{
    min-height: 100vh; 
    max-width: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/skin-side-up.png");
    font-size: 4.5vw;
}

/* iOS only */
@supports (-webkit-touch-callout: none) { 
    #first_page {
        height: -webkit-fill-available;
    }
  }

#first_page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    height: var(--app-height);
    background-image: url('img/mainImg.jpg');
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    z-index: -2;
}

#dday {
    margin: 10px;
    font-family: 'S-CoreDream-9Black';
    font-size: 5.2vw;
    color: transparent;
    background: lightgray;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    overflow: visible;
}

.line {
    width: 100%;
    height: 0;
    border-top: 0.5px solid #999;
    border-bottom: 0.5px solid #fff;
    opacity: 30%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    margin: 5px 0px
}

.page {
    width: 100vw;
    margin-bottom: 100px;
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overscroll-behavior: none;
    position: relative;
    z-index: 0;
}

.name_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}

.text_shadow_pop_top {
    margin-bottom: 20px;
	-webkit-animation: text-shadow-pop-top 0.6s both;
	        animation: text-shadow-pop-top 0.6s both;
}

.frontImg {
    width: 92%;
    overflow:hidden;
    margin:0 auto;
    -webkit-box-shadow: inset 4px 4px 15px 0px #222, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 15px 0px #222, 5px 5px 15px 5px rgba(0,0,0,0.);
    border-radius: 4px;
}

.mainImg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

span {
    display: flex;
    align-items: center;
    justify-content: bottom;
    flex-direction: row;
    line-height: 180%;
}

.mainTxt {
    line-height: 180%;
    margin: 20px 0px;
}

h1 {
    font-size: 1.4rem;
}

h3 {
    font-size: 6vw;
    margin-bottom: 15px;
    color: transparent;
    background: #333;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 5.8vw;
}

h4 {
    font-size: 4vw;
    margin: 2px 5px;
    color: black;
    font-size: 4.8vw;
}

h5 {
    font-size: 4vw;
    font-weight: 600;
    margin: 0px
}

.main_name_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0px;
    overflow: visible;
}

.main_name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    color: transparent;
    background: #666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 5.8vw;
}

.info {
    margin-top: 5px;
    overflow: visible;
}

.info_text{
    color: transparent;
    background: #333;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.info_date {
    font-weight: 600;
    font-size: 5.2vw;
}

.info_location {
    font-size: 5vw;
}

#pearl {
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px 1px 1px rgb(179, 179, 179))
}

