:root {
  --app-height: 100%;
}

* {
  text-align: center;
  margin: 0px;
  font-family: "Chosunilbo_myungjo";
  color: #282929;
  line-height: 190%;
  overflow-x: hidden;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/skin-side-up.png");
  font-size: 10px;
  -webkit-overflow-scrolling: auto;
}

#first_page {
  height: var(--app-height);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0) 45%
  ), 
  url("/img/main.jpg")
  no-repeat
  bottom;
  background-size: 100%;
  z-index: 1;
}

.first_top {
  position: absolute;
  top: 5rem;
}

#dday {
  margin: 10px;
  font-family: "S-CoreDream-9Black";
  font-size: 2rem;
  color: transparent;
  background: lightgray;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  overflow: visible;
}

.line {
  width: 100vw;
  height: 0;
  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #fff;
  opacity: 30%;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.page {
  width: 100vw;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overscroll-behavior: none;
  z-index: 0;
  -webkit-overflow-scrolling: auto;
}

.name_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;
}

.text_shadow_pop_top {
  margin-bottom: 20px;
  -webkit-animation: text-shadow-pop-top 0.6s both;
  animation: text-shadow-pop-top 0.6s both;
}

.mainImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

span {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mainTxt {
  line-height: 180%;
  margin: 20px 0px;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
  color: transparent;
  background: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  border-bottom: 1.512345678px inset #666;
}

h4 {
  margin: 2px 5px 2px 5px;
  color: #111;
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0px;
}

.main_name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
  overflow: visible;
}

.main_name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  color: transparent;
  background: #666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-size: 2.1rem;
}

.info {
  position: absolute;
  bottom: 2rem;
  overflow: visible;
}

.fade-in-bottom {
  font-family: 'S-CoreDream-9Black';
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25);
  color: #ffffffe7;
  font-size: 1.95rem;
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



#pearl {
  width: 2.1rem;
  height: 2.1rem;
  filter: drop-shadow(1px 1px 1px rgb(179, 179, 179));
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span,
p {
  font-size: 1.8rem;
}
