:root {
  --app-height: 100%;
}

* {
  text-align: center;
  margin: 0px;
  /* font-family: "Chosunilbo_myungjo"; */
  font-family: 'MapoFlowerIsland';
  color: #282929;
  line-height: 190%;
  overflow-x: hidden;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;
}

html,
body {
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/skin-side-up.png");
  font-size: 10px;
  -webkit-overflow-scrolling: auto;
}

#first_page {
  height: 100vh;
  max-height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 25%
  ), 
  url("/img/main.jpg")
  no-repeat
  bottom;
  background-size: 100%;
}

.first_top {
  position: absolute;
  top: 5rem;
}

#dday {
  margin: 10px;
  font-family: "S-CoreDream-9Black";
  font-size: 2rem;
  color: transparent;
  background: lightgray;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  overflow: visible;
}

.line {
  width: 100vw;
  height: 0;
  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #fff;
  opacity: 30%;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.page {
  width: 100vw;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overscroll-behavior: none;
  z-index: 0;
  -webkit-overflow-scrolling: auto;
}

.name_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;
}

.text_shadow_pop_top {
  margin-bottom: 20px;
  -webkit-animation: text-shadow-pop-top 0.6s both;
  animation: text-shadow-pop-top 0.6s both;
}

.mainImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

span {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mainTxt {
  line-height: 180%;
  margin: 20px 0px;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
  color: transparent;
  background: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  border-bottom: 1.512345678px inset #666;
}

h4 {
  margin: 2px 5px 2px 5px;
  color: #111;
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0px;
}

.main_name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
  overflow: visible;
}

.main_name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  color: transparent;
  background: #666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-size: 2.1rem;
}

.info {
  position: absolute;
  display : flex;
  justify-content : center;
  flex-direction: column;
  align-items : center;
  bottom: 3rem;
  overflow: visible;
  background-color: rgba(255, 252, 231, 0.8);
  border-radius: 6% 94% 3% 97% / 92% 5% 95% 8% ;
  box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.3), 5px 5px 15px 5px rgba(0,0,0,0.1);
  width: 27rem;
  height: 11rem;
}
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.info_text {
  font-family: 'Cafe24SsurroundAir';
  transform: rotate(1deg) skew(-1deg, 0deg);
  width: 90%;
  border-bottom: 1px dashed #8c8b8b;
  color: #333;
  font-size: 2rem;
}

 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span,
p {
  font-size: 1.8rem;
}

.gslide-image img.zoomable {
  pointer-events: none;
  cursor: default;
}